p {
  color: #262629;
  font-size: 18px;
  text-align: justify;
}

p span {
  font-weight: 600;
}

.form_home {
  margin: 10px 0;
}

.container_input {
  margin: 10px 0;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 4px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input_error {
  border-color: red;
}

input[type=range] {
  flex: 1;
  padding: 0;
  margin: 8px 10px 8px 0;
}

.container_input .error {
  font-size: 13px;
  color: red;
  margin: 0;
  padding: 0;
}

.container_slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn_success {
  width: 100%;
  height: 45px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  border-color: transparent;
  background-color: dodgerblue;

  transition: all cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.btn_success:hover {
  background-color: rgb(26, 118, 211);
}